body{

}

header{

}

main{

}

form{

}

input{

}

button{

}

button:hover{

}

.card{

}

/* ===================================================== */

/*              BIBLIOTECA DE COMPONENTES CSS                */

/* Utilizar solamente las propiedades necesarias         */

/* ===================================================== */

background-color:#f4f4f4;

background-color:white;

background-color:#1976d2;

background-color:#0d47a1;

color:white;

padding:10px;

padding:30px;

margin:auto;

margin-top:40px;

width:100%;

width:420px;

border-radius:10px;

border-radius:15px;

box-shadow:0px 2px 10px gray;

text-align:center;

border:none;

cursor:pointer;